In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline
# we will get the same results every time we run the same program
random.seed(42)

In [3]:
df=pd.read_csv('Data/conversions.csv')
df.head()

   user_id timestamp password_type  converted
0   851104   11:48.6      password          0
1   804228   01:45.2      password          0
2   661590   55:06.2    passphrase          0
3   853541   28:03.1    passphrase          0
4   864975   52:26.2      password          1

In [4]:
df2=df[-df['user_id'].duplicated()]
df_pass=df2[df2['password_type'] == 'password']
df_pass_ph=df2[df2['password_type'] == 'passphrase']

(289999, 4)