In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline
# we will get the same results every time we run the same program
random.seed(42)

In [12]:
df=pd.read_csv('Data/data.csv')
df.head()

   user_id timestamp       group register_page  converted
0   851104   11:48.6     control      old_page          0
1   804228   01:45.2     control      old_page          0
2   661590   55:06.2  experiment      new_page          0
3   853541   28:03.1  experiment      new_page          0
4   864975   52:26.2     control      old_page          1

In [23]:
df2 = df.query("(group == 'experiment' and register_page == 'new_page') or (group == 'control' and register_page == 'old_page')")
df2.shape

(290585, 5)

In [10]:
df2.to_csv("Data/data_clean.csv")

In [24]:
v = df2.converted.values == 0
df2.loc[v, 'converted'] = np.random.choice((0, 1), v.sum(), p=(.9, .1))
df2.converted.mean()

C:\Users\Osama_HOsameldeen\miniconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

0.20688266772200906

In [30]:
df2.query("group=='experiment'").converted.mean()

0.20646750762158406

In [31]:
df2.to_csv("Data/data_clean.csv")